<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="event_card(event)">

    <div class="col">
        <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                 xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: event.name"
                 preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">event.description</text>
            </svg>
            <div class="card-body">
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">
                    <!--
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                    </div>-->
                    <small class="text-body-secondary">!!! кол-во экспонатов</small>
                </div>
            </div>
        </div>
    </div>

</div>