<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head(main)">

    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a th:href="@{/events}" href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Музей Галерея</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/events}"
                                    th:class="${main=='events'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Мероприятия</a></li>
            <li class="nav-item"><a th:href="@{/exhibits}"
                                    th:class="${main=='exhibits'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Экспонаты</a></li>
            <li class="nav-item"><a th:href="@{/contacts}"
                                    th:class="${main=='contacts'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Контакты</a></li>
            <li class="nav-item"><a th:href="@{/about}"
                                    th:class="${main=='about'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Авторы</a></li>
            <li class="nav-item"><a th:href="@{/login}"
                                    th:class="${main=='login'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Войти</a></li>
        </ul>
    </header>

</div>