<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin/head_fragment.html :: head(title='Создание автора', description='Создание карточки автора')}">
</head>

<body class="container">
<header th:replace="~{fragments/admin/header_fragment :: head(main='authors')}"></header>

<main>
    <h1>Создание автора</h1>
    <h2>Атрибуты:</h2>
    <form th:action="@{/api/v1/authors/create}" action="#" method="post">
        <div class="form-group">
            <label for="name-input">Название</label>
            <input name="name" type="text" class="form-control" id="name-input" required>
        </div>

        <hr class="my-4">

        <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>

    </form>


</main>
<footer th:replace="~{fragments/admin/footer_fragment :: footer}"></footer>
</body>
</html>