<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin/head_fragment.html :: head(title='Редактирование автора', description='Редактирование карточки автора')}">
</head>

<body class="container">
<header th:replace="~{fragments/admin/header_fragment :: head(main='authors')}"></header>

<main>
    <h1 th:text="'Редактирование автора ' + ${author.name}">Автор</h1>
    <h2>Атрибуты:</h2>
    <form th:action="@{/api/v1/authors/update}" action="#" method="post">
        <div class="form-group" style="display: none;">
            <label for="id-input">Идентификатор</label>
            <input name="id" type="text" class="form-control" id="id-input" readonly="readonly"
                   th:value="${author.id}">
        </div>
        <div class="form-group">
            <label for="name-input">Название</label>
            <input name="name" type="text" class="form-control" id="name-input" required
                   th:value="${author.name}">
        </div>

        <hr class="my-4">

        <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>

    </form>


</main>
<footer th:replace="~{fragments/admin/footer_fragment :: footer}"></footer>
</body>
</html>