<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/admin/head_fragment.html :: head(title='Редактирование экпоната', description='Редактирование карточки экспоната')}">
</head>

<body class="container">
<header th:replace="~{fragments/admin/header_fragment :: head(main='exhibits')}"></header>

<main>
    <h1 th:text="'Редактирование экспоната ' + ${exhibit.name}">Экспонат</h1>
    <h2>Атрибуты:</h2>
    <form th:action="@{/api/v1/exhibits/update}" action="#" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="id-input">Идентификатор</label>
            <input name="id" type="text" class="form-control" id="id-input" readonly="readonly"
                   th:value="${exhibit.id}">
        </div>
        <div class="form-group">
            <label for="name-input">Название</label>
            <input name="name" type="text" class="form-control" id="name-input" required
                   th:value="${exhibit.name}">
        </div>

        <div class="form-group">
            <label for="code-input">Артикул</label>
            <input type="text" class="form-control" id="code-input" readonly="readonly"
                   th:value="${exhibit.code}">
        </div>
        <div class="form-group">
            <label for="author-input" class="form-label">Автор</label>
            <select name="authorId" class="form-select" id="author-input" required>
                <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}"
                        th:selected="${author.id}==${exhibit.author.id}">United States
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="type-input" class="form-label">Категория</label>
            <select name="typeId" class="form-select" id="type-input" required>
                <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.name}"
                        th:selected="${type.id}==${exhibit.type.id}">United States
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="storage-condition-input" class="form-label">Условия хранения</label>
            <select name="storageConditionId" class="form-select" id="storage-condition-input" required>
                <option th:each="storageCondition : ${storageConditions}" th:value="${storageCondition.id}"
                        th:text="${storageCondition.name}"
                        th:selected="${storageCondition.id}==${exhibit.storageCondition.id}">United States
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="year-input">Год</label>
            <input name="year" type="number" class="form-control" id="year-input"
                   th:value="${exhibit.year}">
        </div>

        <div class="form-group">
            <label for="length-input">Длина</label>
            <input name="length" type="number" class="form-control" id="length-input"
                   th:value="${exhibit.length}">
        </div>

        <div class="form-group">
            <label for="width-input">Ширина</label>
            <input name="width" type="number" class="form-control" id="width-input"
                   th:value="${exhibit.width}">
        </div>

        <div class="form-group">
            <label for="style-input" class="form-label">Стиль</label>
            <select name="styleId" class="form-select" id="style-input" required>
                <option th:each="style : ${styles}" th:value="${style.id}" th:text="${style.name}"
                        th:selected="${style.id}==${exhibit.style.id}">
                    United States
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="genre-input" class="form-label">Жанр</label>
            <select name="genreId" class="form-select" id="genre-input" required>
                <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"
                        th:selected="${genre.id}==${exhibit.genre.id}">
                    United States
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="image-input">Изображение</label>
            <input name="imageFile" type="file" class="form-control" id="image-input" accept=".jpg, .jpeg, .png">
        </div>

        <hr class="my-4">

        <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>

    </form>


</main>
<footer th:replace="~{fragments/admin/footer_fragment :: footer}"></footer>
</body>
</html>