<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/client/head_fragment.html :: head(title='Галлерея', description='Художественная галлерея')}">
</head>

<body class="container">
<header th:replace="~{fragments/client/header_fragment :: head(main='about')}"></header>

<main>

    <h1>Миссия Галлереи</h1>
    <p>Главная галлерея национального искусства России, отражающая его вклад в мировую
    культуру. Это гостеприимная галлреея, известный своей богатой коллекцией и многообразием представленных идей.</p>

    <h2>Основные цели:</h2>
    <ul>
        <li>исследовать, сохранять, представлять и популяризировать искусство России</li>
        <li>формировать российскую культурную идентичность, привлекая внимание общества к той важной роли, которую
            играют в ней искусство в целом и наша коллекция в частности. Продолжать дело П.М. Третьякова,
            знакомя жителей страны с отечественным художественным наследием
        </li>
        <li>делать жизнь людей лучше, открывая широкий доступ к шедеврам русского и мирового искусства</li>
    </ul>

    <h2>Наши ценности:</h2>

        <ul>
            <li>Вдохновение</li>
            <li>Гордость</li>
            <li>Ориентация на посетителей</li>
            <li>Креативность</li>
            <li>Открытость для сотрудничества</li>
            <li>Гостеприимство</li>
            <li>Соответствие высоким стандартам качества</li>
            <li>Профессионализм</li>
        </ul>
</main>

<footer th:replace="~{fragments/client/footer_fragment :: footer}"></footer>

</body>
</html>