<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/client/head_fragment.html :: head(title='Подобрать мероприятие', description='Страница для подбора мероприятий галереи')}">
</head>

<body class="container">
<header th:replace="~{fragments/client/header_fragment :: head(main='events')}"></header>

<main>
    <h1>Подбор мероприятий</h1>

    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Заполните анкету</h4>
        <form method="post" th:action="@{/events/recommend}" action="" class="needs-validation row g-3" novalidate="">
            <div class="col-sm-6">
                <label for="age-input" class="form-label">Возраст</label>
                <input type="number" class="form-control" id="age-input" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-md-5">
                <label for="sex-input" class="form-label">Пол</label>
                <select class="form-select" id="sex-input" required>
                    <option value="male">Мужской</option>
                    <option value="female">Женский</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid sex.
                </div>
            </div>

            <div class="col-md-5">
                <label for="edu-input" class="form-label">Образовавние</label>
                <select class="form-select" id="edu-input" required>
                    <option value="middle">Среднее</option>
                    <option value="middle-spec">Среднее специальное</option>
                    <option value="high-half">Неоконченное высшее</option>
                    <option value="high">Высшее</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid education.
                </div>
            </div>

            <div class="col-md-5">
                <label for="era-input" class="form-label">Стиль</label>
                <select class="form-select" id="era-input" required>
                    <option value="rebirth">Возрождение</option>
                    <option value="manerizm">Маньеризм</option>
                    <option value="baroko">Барокко</option>
                    <option value="classic">Классицизм</option>
                    <option value="romain">Романтизм</option>
                    <option value="imp">Импресионизм</option>
                    <option value="eksp">Экспресионизм</option>
                    <option value="avangarg">Авангардизм</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid era.
                </div>
            </div>

            <div class="col-md-5">
                <label for="genre-input" class="form-label">Жанр</label>
                <select class="form-select" id="genre-input" required>
                    <option value="portrait">Портрет</option>
                    <option value="landscape">Пейзаж</option>
                    <option value="marina">Марина</option>
                    <option value="historical">Исторический</option>
                    <option value="batal">Батальный</option>
                    <option value="animalistika">Анималистика</option>
                    <option value="domestic">Бытовой</option>
                    <option value="life">Натюрморт</option>
                </select>
                <div class="invalid-feedback">
                    Please select a valid genre.
                </div>
            </div>


            <hr class="my-4">

            <div>
                <button class="w-100 btn btn-primary btn-lg" type="submit">Рекомендовать</button>
            </div>

        </form>
    </div>

</main>
<footer th:replace="~{fragments/client/footer_fragment :: footer}"></footer>

</body>
</html>