<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/client/head_fragment.html :: head(title='Мероприятия', description='Мероприятия галереи')}">
</head>

<body class="container">
<header th:replace="~{fragments/client/header_fragment :: head(main='events')}"></header>

<main>
    <h1>Мероприятия</h1>

    <a th:href="@{/events/recommendForm}" class="btn btn-md btn-outline-secondary"
       href="#">Подобрать мероприятие</a>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-3">
                <tr th:each="event: ${events}">
                    <td th:replace="~{fragments/client/event_card :: event_card(${event}, ${eventCount.get(event)})}"/>
                </tr>
            </div>
        </div>
    </div>

    <td th:replace="~{fragments/client/pagination_fragment :: pagination(items = ${events}, source ='events')}"/>

</main>
<footer th:replace="~{fragments/client/footer_fragment :: footer}"></footer>

</body>
</html>