<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/client/head_fragment.html :: head(title='Экспонаты', description='Экспонаты галереи')}">
</head>

<body class="container">
<header th:replace="~{fragments/client/header_fragment :: head(main='exhibits')}"></header>

<main>

    <h1>Экспонаты</h1>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-3">
                <div th:each="exhibit: ${exhibits.content}">
                    <td th:replace="~{fragments/client/exhibit_card :: exhibit_card(${exhibit})}"/>
                </div>
            </div>
        </div>
    </div>

    <td th:replace="~{fragments/client/pagination_fragment :: pagination(items = ${exhibits}, source ='exhibits')}"/>

</main>
<footer th:replace="~{fragments/client/footer_fragment :: footer}"></footer>

</body>
</html>