<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="head(main)">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/admin/exhibits}"
                                    th:class="${main=='exhibits'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Экспонаты</a></li>
            <li class="nav-item"><a th:href="@{/admin/events}"
                                    th:class="${main=='events'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Мероприятия</a></li>
            <li class="nav-item"><a th:href="@{/admin/authors}"
                                    th:class="${main=='authors'} ? 'nav-link active' : 'nav-link'"
                                    href="#"
                                    class="nav-link">Авторы</a></li>
        </ul>
        <div class="col-md-3 text-end">
            <a href="/logout" type="button" class="btn btn-outline-primary me-2">Logout</a>
        </div>
    </header>
</div>